In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("height_weight.csv")

In [3]:
data.shape

(10000, 3)

In [4]:
data.head()

  gender     height      weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
data = data.drop(columns=['gender'])

In [6]:
data.describe()

             height        weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [7]:
Q1 = data['height'].quantile(0.25)
Q3 = data['height'].quantile(0.75)
print(Q1 , Q3)

63.505620481218955 69.1742617268347

In [8]:
IQR = Q3-Q1

In [9]:
IQR

np.float64(5.668641245615746)

In [10]:
lower_limit = Q1-1.5*IQR
upper_limit = Q1+1.5*IQR
lower_limit , upper_limit

(np.float64(55.00265861279534), np.float64(72.00858234964258))

In [11]:
import numpy as np

data['height'] = np.where(
    (data['height'] > lower_limit) & (data['height'] < upper_limit),
    data['height'],
    np.nan
)